body {
    background-color: black;
}

.top {
    padding: 20% 0;     /* 垂直居中 */
}

.search {               /* 搜索（隐） */
    background-color: white;
    width:70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 45px;
    border:2px solid darkgrey;
}

.left {                 /* 左按钮（隐） */
    display: none;
}

.right {                /* 右按钮（隐） */
    background-color: transparent;
    outline: none;
    border: none;
    position: relative;
    top: -54px;
    left: 12px;
}

.text_iframe {          /* 输入框（隐） */
    background-color: white;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    border-radius: 45px;
    font-size:0 ;
    outline: none;
    border: none;
}

.search:hover {             /* 搜索（显） */  
    background-color: white;
    width: 500px;
    height: 70px;
    margin: 0 auto;
    border-radius: 45px;
}

.search:hover .left {       /* 左按钮（显） */
    background-color: transparent;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    float: left;
    border-radius: 45px;
    color: black;
    outline: none;
    border: none;
    display: block;
}

.search:hover .text_iframe {    /* 输入框（显） */  
    width: 360px;
    height: 70px;
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    outline: none;
    border: none;  
}

.search:hover .right {          /* 右按钮（显） */
    background-color: transparent;
    width: 70px;
    height: 70px;
    margin: 0 auto;
    float: right;
    border-radius: 45px;
    color: black;
    outline: none;
    border: none;
    display: block;
    position: relative;
    top: 0px;
    left: 0px;
}